section.header
    ._container._row
        h1._col-12._col-md-8._col-xl-7._ml-md-4._ml-xl-5
            | Франшиза сети спортивных клубов &laquo;Априори&raquo;
        ._col-12._col-md-6._col-xl-5._ml-lg-4._ml-xl-7.body1
            | Получите&nbsp;&shy;
            strong БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ&nbsp;&shy;
            | по&nbsp;вопросам открытия клуба и&nbsp;оцените преимущества франшизы &laquo;Априори&raquo;!
        button.button._head Получить консультацию