@font-face {
    font-family: 'bebasneue';
    src: url('/fonts/bebasneuebold.woff2') format('woff2'),
         url('/fonts/bebasneuebold.woff') format('woff'),
         url('/fonts/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'sfuitext';
    src: url('/fonts/sfuitext-light.eot');
    src: url('/fonts/sfuitext-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sfuitext-light.woff2') format('woff2'),
         url('/fonts/sfuitext-light.woff') format('woff'),
         url('/fonts/sfuitext-light.ttf') format('truetype'),
         url('/fonts/sfuitext-light.svg#sf_ui_textlight') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'sfuitext';
    src: url('/fonts/sfuitext-regular.eot');
    src: url('/fonts/sfuitext-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sfuitext-regular.woff2') format('woff2'),
         url('/fonts/sfuitext-regular.woff') format('woff'),
         url('/fonts/sfuitext-regular.ttf') format('truetype'),
         url('/fonts/sfuitext-regular.svg#sf_ui_textregular') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'sfuitext';
    src: url('/fonts/sfuitext-semibold.eot');
    src: url('/fonts/sfuitext-semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sfuitext-semibold.woff2') format('woff2'),
         url('/fonts/sfuitext-semibold.woff') format('woff'),
         url('/fonts/sfuitext-semibold.ttf') format('truetype'),
         url('/fonts/sfuitext-semibold.svg#sf_ui_textsemibold') format('svg');
    font-weight: 600;
}